# DATA101 Final Project Notebook

In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the two main datasets
postings = pd.read_csv('postings.csv')
companies = pd.read_csv('companies.csv')

In [3]:
postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [4]:
# postings columns to drop
cols_to_drop = ['company_name', 'description', 'location', 'views',
                'applies', 'original_listed_time', 'remote_allowed',
                'job_posting_url', 'application_url', 'application_type',
                'expiry', 'closed_time', 'skills_desc', 'listed_time',
                'posting_domain', 'sponsored', 'work_type', 'currency',
                'compensation_type', 'normalized_salary', 'zip_code',
                'fips']
postings.drop(cols_to_drop, axis=1, inplace=True)

In [5]:
postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   title                       123849 non-null  object
 2   max_salary                  29793 non-null   float64
 3   pay_period                  36073 non-null   object
 4   company_id                  122132 non-null  float64
 5   med_salary                  6280 non-null    float64
 6   min_salary                  29793 non-null   float64
 7   formatted_work_type         123849 non-null  object
 8   formatted_experience_level  94440 non-null   object
dtypes: float64(4), int64(1), object(4)
memory usage: 8.5+ MB

In [6]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   name          24472 non-null  object
 2   description   24176 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24451 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24451 non-null  object
 9   url           24473 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.9+ MB

In [7]:
# companies columns to drop
cols_to_drop = ['description', 'country', 'address', 'url', 'zip_code']
companies.drop(cols_to_drop, axis=1, inplace=True)

In [8]:
companies.rename(columns={'name': 'company_name'}, inplace=True)

In [9]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   company_name  24472 non-null  object
 2   company_size  21699 non-null  float64
 3   state         24451 non-null  object
 4   city          24472 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 956.1+ KB

In [10]:
# merges the two files
merged_df = postings.merge(companies, on='company_id')

In [11]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122131 entries, 0 to 122130
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      122131 non-null  int64
 1   title                       122131 non-null  object
 2   max_salary                  29338 non-null   float64
 3   pay_period                  35563 non-null   object
 4   company_id                  122131 non-null  float64
 5   med_salary                  6225 non-null    float64
 6   min_salary                  29338 non-null   float64
 7   formatted_work_type         122131 non-null  object
 8   formatted_experience_level  94183 non-null   object
 9   company_name                122130 non-null  object
 10  company_size                117142 non-null  float64
 11  state                       122092 non-null  object
 12  city                        122129 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 12.1+ MB

In [12]:
# merge industries into the dataframe
job_industries = pd.read_csv('job_industries.csv')
industries_map = pd.read_csv('industries.csv')

In [13]:
industries_merged = job_industries.merge(industries_map, on='industry_id')
industries_merged = industries_merged.groupby('job_id')['industry_name'].apply(list).reset_index()

In [14]:
merged_df = merged_df.merge(industries_merged, on='job_id')

In [15]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122038 entries, 0 to 122037
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      122038 non-null  int64
 1   title                       122038 non-null  object
 2   max_salary                  29322 non-null   float64
 3   pay_period                  35545 non-null   object
 4   company_id                  122038 non-null  float64
 5   med_salary                  6223 non-null    float64
 6   min_salary                  29322 non-null   float64
 7   formatted_work_type         122038 non-null  object
 8   formatted_experience_level  94183 non-null   object
 9   company_name                122037 non-null  object
 10  company_size                117129 non-null  float64
 11  state                       121999 non-null  object
 12  city                        122036 non-null  object
 13  industry_name               122038 non-null  object
dtypes: float64(5), int64(1), object(8)
memory usage: 13.0+ MB

In [16]:
# merge skills into a list per job
job_skills = pd.read_csv('job_skills.csv')
skills_map = pd.read_csv('skills.csv')

In [17]:
jobs_merged = job_skills.merge(skills_map, on='skill_abr')
jobs_merged = jobs_merged.groupby('job_id')['skill_name'].apply(list).reset_index()

In [18]:
merged_df = merged_df.merge(jobs_merged, on='job_id')

In [19]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120506 entries, 0 to 120505
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      120506 non-null  int64
 1   title                       120506 non-null  object
 2   max_salary                  28947 non-null   float64
 3   pay_period                  35081 non-null   object
 4   company_id                  120506 non-null  float64
 5   med_salary                  6134 non-null    float64
 6   min_salary                  28947 non-null   float64
 7   formatted_work_type         120506 non-null  object
 8   formatted_experience_level  94183 non-null   object
 9   company_name                120505 non-null  object
 10  company_size                115885 non-null  float64
 11  state                       120468 non-null  object
 12  city                        120504 non-null  object
 13  industry_name               120506 non-null  object
 14  skill_name                  120506 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 13.8+ MB

In [20]:
# Reordering the dataframe
reorder = ['job_id', 'title', 'company_name', 'company_size', 'min_salary', 'med_salary', 'max_salary', 'pay_period', 'formatted_work_type', 'formatted_experience_level', 'city', 'state', 'industry_name', 'skill_name']
final_df = merged_df[reorder]

In [21]:
final_df.head()

,job_id,title,company_name,company_size,min_salary,med_salary,max_salary,pay_period,formatted_work_type,formatted_experience_level,city,state,industry_name,skill_name
0,921716,Marketing Coordinator,Corcoran Sawyer Smith,2.0,17.0,NaN,20.0,HOURLY,Full-time,NaN,Jersey City,NJ,[Real Estate],"[Marketing, Sales]"
1,10998357,Assitant Restaurant Manager,The National Exemplar,1.0,45000.0,NaN,65000.0,YEARLY,Full-time,NaN,Mariemont,Ohio,[Restaurants],"[Management, Manufacturing]"
2,23221523,Senior Elder Law / Trusts and Estates Associat...,"Abrams Fensterman, LLP",2.0,140000.0,NaN,175000.0,YEARLY,Full-time,NaN,Lake Success,New York,[Law Practice],[Other]
3,91700727,Economic Development and Planning Intern,Downtown Raleigh Alliance,1.0,14.0,NaN,20.0,HOURLY,Internship,NaN,Raleigh,North Carolina,[Non-profit Organization Management],[Project Management]
4,103254301,Producer,Raw Cereal,NaN,60000.0,NaN,300000.0,YEARLY,Contract,NaN,Los Angeles,CA,[Design Services],"[Design, Art/Creative, Information Technology]"

In [22]:
final_df.to_csv('final_df.csv')

In [24]:
test = pd.read_csv('final_df.csv')